<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div>

      <form action="https://localhost:2030/api/auth/register" method="post">
        <input name="email" placeholder="Email" />
        <input name="password" placeholder="Password"/>
        <button>Register</button>
      </form>
      <form action="https://localhost:2030/api/auth/login" method="post">
        <input name="email" placeholder="Email" />
        <input name="password" placeholder="Password"/>
        <button>Login</button>
      </form>
    </div>
  </body>
</html>
